<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title vHimself

        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/main.css")

    body
        .wrapper
            .scene
            .welcome
                .welcome__figure
                .welcome__text
                    h1 Hello
        
        .introduceMyself
            .heading
                h1 Part I. Introduce myself

            .introduceMyself__container
                .content
                    .content__header
                        h3 Hello, my name is Vladyslav. Nice to meet you!

                    .content__description
                        p Let me tell something about myself. Now I living in United States, but studying in Ukraine. <br>I was started learn computer science when i was young & it changed my lifestyle <br>to the better way. Now I don’t imagine myself without it.<br> If you have a good idea - I will realize it to reality & help with it. <br>I love startups & develop some my personal projects, so don’t be shy  to ask a help. <br>I think, we can have a good vibe. Enjoy ;)

                    a(href="#")
                        .button
                            p What can you do?

                .photo
                    img(src="assets/pfolio.jpg", alt="", srcset="")
                    .filter
                        .filter__block
                        .filter__block
                        .filter__block
                    

            .footing
                a(href="#") Skip

        .skills
            

        script(src="nymph.js")
        //- script(src="typewriter.js")
        //- script(src="bundle.js")