.works
    .container
        .heading Part IV.  Works, that I’d like to share

        .projects
            a(href="#" target="_blank")
                .projects__item
                    img(src="assets/work.png", alt="", srcset="")
            a(href="#" target="_blank")
                .projects__item
                    img(src="assets/work.png", alt="", srcset="")
            a(href="#" target="_blank")
                .projects__item
                    img(src="assets/work.png", alt="", srcset="")
        a(href="#")
            .button.light#toContacts
                p Let’s contact!
        
        .footing
            a(href="#")#toNav Skip