
@media(max-width: 1100px) {
    .introduceMyself__container {
        flex-direction: column-reverse;
        margin: 100px 0px;
    }
}

@media(max-width: 768px) {
    .bar {
        &__text {
            text-align: center;
        }
    }
}
@media(max-width: 655px) {

    .slideDown { 
        display: initial;
    }

    .information, .experience {
        min-width: 100%;
    }
    .skills {
        position: relative;
        flex-direction: column;
    }
    .carousel {
        width: 200px !important;
    }
    .experience {
        min-height: 55vh;
    }
}
@media(max-width: 560px) {
    .photo {
        img {
            width: 333px;
            height: 443px;
        }
    }

    .content { 

        &__header {
        font-size: 14px;
        }

        &__description {
            p {
                font-size: 14px;
                margin: 20px;
            }
        }

    }

    .introduceMyself {

        &__container {
            margin: 20px 0 0 0 !important;
        }
    }

    .content { 

        &__header {
        font-size: 12px;
        margin: 30px 0 0 0;
        
        }
    }
}

@media(max-width: 500px) {

    .welcome {
        &__figure {
            width: 350px;
            height: 350px;
        }
    }

    .heading {
        font-size: 13px;
    }

    .introduceMyself {

        &__container {
            margin: 20px 0 0 0 !important;
        }
    }
}

@media(max-width: 375px) {

    .welcome {
        &__figure {
            width: 250px;
            height: 250px;
        }
    }

    .photo {
        img {
            width: 260px;
            height: 346px;
        }
    }
    .heading {
        font-size: 13px;
    }
    .content { 

        &__header {
            margin: 50px 0px 0px 0px;
        font-size: 12px;
        }

        &__description {
            p {
                font-size: 14px;
                margin: 20px;
            }
        }

    }
    .introduceMyself {

        &__container {
            margin: 20px 0 0 0 !important;
        }
    }
}

@media(max-width: 320px) {


    .heading {
        font-size: 12px;
    }
    .content { 

        &__header {
            margin: 50px 0px 0px 0px;
        font-size: 11px;
        font-weight: 800;
        }

        &__description {
            p {
                font-size: 11px;
                margin: 20px;
            }
        }

    }

    .introduceMyself {

        &__container {
            margin: 20px 0 0 0 !important;
        }
    }
}